:root {
	--SeIc-icon-backup-restore: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M10 12a2 2 0 1 0 4 0a2 2 0 1 0 -4 0 M21,9.5V4.21c0-0.45-0.54-0.67-0.85-0.35l-1.78,1.78 c-1.81-1.81-4.39-2.85-7.21-2.6c-4.19,0.38-7.64,3.75-8.1,7.94C2.46,16.4,6.69,21,12,21c4.59,0,8.38-3.44,8.93-7.88 c0.07-0.6-0.4-1.12-1-1.12c-0.5,0-0.92,0.37-0.98,0.86c-0.43,3.49-3.44,6.19-7.05,6.14c-3.71-0.05-6.84-3.18-6.9-6.9 C4.94,8.2,8.11,5,12,5c1.93,0,3.68,0.79,4.95,2.05l-2.09,2.09C14.54,9.46,14.76,10,15.21,10h5.29C20.78,10,21,9.78,21,9.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.side-1lrxIh > .item-2GWPIy:nth-child(29)::before, /* Vencord */ 
.side-1lrxIh > .item-2GWPIy:nth-child(35)::before /* Desktop Settings */ {
	--icon: var(--SeIc-icon-general-settings) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(30)::before /* Plugins */ {
	--icon: var(--SeIc-icon-plugins) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(31)::before /* Themes */ {
	--icon: var(--SeIc-icon-themes) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(32)::before /* Updater */ {
	--icon: var(--SeIc-icon-updater) !important;
}

/* TODO: add cloud icon */
/* ex: https://fonts.google.com/icons?selected=Material%20Symbols%20Rounded%3Acloud_sync%3AFILL%401%3Bwght%40400%3BGRAD%400%3Bopsz%4024 */
.side-1lrxIh > .item-2GWPIy:nth-child(33)::before /* Cloud */ {
	--icon: var(--SeIc-icon-devices) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(34)::before /* Backup & Restore */ {
	--icon: var(--SeIc-icon-backup-restore) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(38)::before /* Activity Privacy */ {
	--icon: var(--SeIc-icon-activity-privacy) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(39)::before /* Registered Games */ {
	--icon: var(--SeIc-icon-registered-games) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(41)::before /* What's New */ {
	--icon: var(--SeIc-icon-change-log) !important;
}

.side-1lrxIh > .item-2GWPIy:nth-child(42)::before /* Hypesquad */ {
	--icon: var(--SeIc-icon-hypesquad) !important;
}
